{{#get "tags" limit="3"}}
  <ul>
    {{#foreach tags}}
     
        <li>
          <a href="{{url}}">{{name}} ({{plural count.posts empty='No posts' singular='% post' plural='% posts'}})</a>
        </li>
    {{/foreach}}
  <ul>
{{/get}}
